body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    padding-top: 1in;
    display: block; /* Switch from flex to block for natural page flow */
    min-height: 100vh; /* Ensure it takes full viewport height */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto; /* Center form */
}

input[type="file"] {
    width: calc(100% - 20px); /* Adjust for padding and borders */
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

button {
    background-color: #0e5d95;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 48%;
    min-width: 150px;
    box-sizing: border-box;
}

button:hover {
    background-color: #0b4c7a;
}

.remove-button {
    background-color: #f44336;
}

.remove-button:hover {
    background-color: #e41f1f;
}

.container {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.centered-image {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 150px;
    height: auto;
}

.manual-feature-selection {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    margin: 20px 0;
}

.results {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

/*Expander buttons in file upload results table*/
.p-treetable-toggler {
    background-color: #8a8a8a;
    min-width: 15px;
}

.p-treetable-toggler:hover {
    background-color: #45a049;
}

/* Add grid lines to the TreeTable */
.p-treetable th,
.p-treetable td {
    border: 1px solid #ddd; /* Add borders for cells */
    padding: 10px; /* Add some padding */
}

.p-treetable th {
    background-color: #f2f2f2; /* Background color for headers */
}

.p-treetable td {
    background-color: #fff; /* Background color for data cells */
}

/* Optionally, change the hover effect */
.p-treetable tr:hover td {
    background-color: #f1f1f1; /* Background color on hover */
}

.visualize-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 20px 0; /* Add some spacing above and below */
}

/*canvas {*/
/*    border: 1px solid #ccc; !* Optional: Add a border to the canvas *!*/
/*    max-width: 100%; !* Make sure canvas is responsive *!*/
/*    height: auto; !* Maintain aspect ratio *!*/
/*}*/



/*TODO: figure out how to turn buttons into icons*/
/*.group1A{*/
/*    background-image: url("icons/Grp6.jpg");*/
/*}*/